@import "./colors.scss";
// Button
$mainBackground: $black;
$primaryBackground: $blue;
$primaryBackgroundHover: $blue1;
$successBackground: $green;
$successBackgroundHover: $green2;
$dangerBackground: $red1;
$dangerBackgroundHover: $red2;



// Button Icon
$backgroundAfter: $red4;

// Border
$primaryBorder: $blue;
$successBorder: $green;
$iconBorder: $dark-grey-color;
$fullwidthBorder: $black;

