$white: #fff;

$black: #000;

$grey: #e0e2e5;
$grey1: #99A3BA;
$grey2: #CBD1DC;
$grey3: #EEF4FF;
$grey4: #CDD9ED;
$grey-light-color: #ededed;
$grey-darc-color: #919191;
$dark-grey-color: #333;

$green: #13aa52;
$green2: #116149;

$blue: #4285f4;
$blue1: #4285f4;
$blue2: #1769aa;
$blue3: #275EFE;
$blue4:  #678EFE;
$blue5: #275EFE;

$red1: #ff9999;
$red2: #ff7f7f;
$red3:  #b2102f;
$red4:  #ff003b;
$red5: #E1332D;
$red6: #e62116;

$crimson: crimson;

$textLighter: #ccc;
$brand: #12CBC4;
